<br>
    <div id="<%= dom_id profile %>">
      <p>
        <strong>First name:</strong>
        <%= profile.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= profile.last_name %>
      </p>

      <p>
        <strong>Birth:</strong>
        <%= profile.birth %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= profile.phone_number %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= profile.genre %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= profile.location %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= profile.user.email %>
      </p>
    </div>
